<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<div id="collection_index">
  <h1>Collections</h1>
    <%- if @custom_collections.any? or @smart_collections.any? %>
      <% @custom_collections.each do |collection| %>
        <%= link_to categories_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) do %>
          <div class="collection">
            <h3 class="collectionTitle"><%= collection.title %></h3>
          </div>
        <%- end %>
      <% end %>

      <% @smart_collections.each do |collection| %>
      <%= link_to categories_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) do %>
        <div class="collection">
          <h3 class="collectionTitle"><%= collection.title %></h3>
        </div>
      <%- end %>
      <% end %>

      <%- else %>

      <%- end %>
  </div>
  <%- if @custom_collections.any? or @smart_collections.any? %>
    <div id="begin"><h2>Choose a collection to begin.</h2></div>
  <%- else %>
    <div id="begin"><h2>You should create these on shopify and then return.</h2></div>
  <%- end %>
</div>
