<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>
<div id="navbar">
  <%= render 'shared/navbar' %>
</div>
<div id="index">
  <h1>Collections</h1>

  <%- if @customCollections.any? or @smartCollections.any? %>
    <ul>
    <% @customCollections.each do |collection| %>
      <li><%= collection.title %></li>
      <button class="nav_btn"><%= link_to "Edit Navigation", categories_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></button>
       <button class="product_btn"><%= link_to "Products", products_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></button>
      <br>
    <% end %>
    </ul>

    <ul>
    <% @smartCollections.each do |collection| %>
      <li><%= collection.title %></li>
      <button class="nav_btn"><%= link_to "Edit Navigation", categories_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></button>
      <button class="product_btn"><%= link_to "Products", products_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></button>
      <br>
    <% end %>
    <%= paginate @customCollections && @smartCollections %>

    </ul>
  <%- else %>
    <p>You should create these on shopify and then return</p>
  <%- end %>


</div>

