<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @product_type.category.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product_type.title %>
</p>

<p>
  <strong>Handle:</strong>
  <%= @product_type.handle %>
</p>

<%= link_to 'Tags', category_product_type_tags_path(@category, @product_type) %> | 
<%= link_to 'Edit', edit_category_product_type_path(@category, @product_type) %> |
<%= link_to 'Back', category_product_types_path(@category) %>
