<%- if session[:shopify_collection_title] && session[:shopify_collection_id] %>
  <ul id="collect">
    <%- if ["products"].include?(params[:controller]) %>
      <li><%= link_to session[:shopify_collection_title], products_path(shopify_collection_id: session[:shopify_collection_id], shopify_collection_title: session[:shopify_collection_title]) %></li>
    <%- else %>
      <strong><label>Collection</label></strong>
      <li><%= link_to session[:shopify_collection_title], categories_path(shopify_collection_id: session[:shopify_collection_id], shopify_collection_title: session[:shopify_collection_title]) %></li><br>

      <%- if @categories.any?  %>
        <strong><label>Category</label></strong>
        <% @categories.each do |category| %>
          <li id="category-nav-<%= category.id %>" class="category-selectable" data-category-id='<%= category.id %>' ><%= link_to category.title, category_product_types_path(category) %></li>
        <% end %>
      <%- end %><br>

      <% if @category %>
        <% if @product_types.any? %>
          <strong><label>Product Type</label></strong>
          <% @product_types.each do |type| %>
            <li id="product-type-nav-<%= type.id %>" class="product-type-selectable" data-product-type-id='<%= type.id %>'><%= link_to type.title, category_product_type_tags_path(@category, type) %></li>
          <% end %>
        <%- end %><br>
      <%- end %>


      <% if @product_type %>
        <% if @tags.any? %>
          <strong><label>Tag</label></strong>
          <% @tags.each do |tag| %>
            <li id="tag-nav-<%= tag.id %>" class="tag-selectable" data-tag-id='<%= tag.id %>'><%= link_to tag.title, category_product_type_tag_path(@category, @product_type, tag) %></li>
          <% end %>
        <%- end %><br>
      <%- end %>

    <%- end %>
  </ul>
<%- else %>
  <ul >
    <% @customCollections.each do |collection| %>
      <li><%= collection.title %></li>
      <button class="nav_btn"><%= link_to "Edit Navigation", categories_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></button>

       <button class="product_btn"><%= link_to "Products", products_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></button>
      <br>
    <ul id="collect"></ul>
    <% end %>
    </ul>
 
    <ul>
    <% @smartCollections.each do |collection| %>
      <li><%= collection.title %></li>
      <button class="nav_btn"><%= link_to "Edit Navigation", categories_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></button>
      <button class="product_btn"><%= link_to "Products", products_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></button>
      <br>
    <% end %>
  </ul>

<%- end %>


