
<%- if session[:shopify_collection_title] && session[:shopify_collection_id] %>

  <div id="left_panel">
    <ul class="ul_nav">
      <p>Filter Fly</p>
        <div class="collection_select"
          <label class="nav_label"><%= link_to "All Collections", index_path %></li>
          <%- if ["products"].include?(params[:controller]) %>
            <li><%= link_to session[:shopify_collection_title], products_path(shopify_collection_id: session[:shopify_collection_id], shopify_collection_title: session[:shopify_collection_title]) %></li>
          <%- else %>
            <!-- <strong><label>Collection:</label></strong> -->
            <label class="nav_label selected"><%= link_to session[:shopify_collection_title], categories_path(shopify_collection_id: session[:shopify_collection_id], shopify_collection_title: session[:shopify_collection_title]) %></li>
          <%- end %>
        </div>
 

        
          <%# if @category %>
            <!-- <strong><label>Category</label></strong> -->
           <!--  <li class="bold category_select"><%# link_to @category.title, @category_product_types_path %></li> -->
          <%# end %>

          <%- if @category %>
            <label class="nav_label selected">Categories</label>
          <%- else %>
            <label class="nav_label">Categories</label>
          <%- end %>
          

      <%# end %> 
      <%- if @product_type %>
        <label class="nav_label selected">Types</label>
      <%- else %>
        <label class="nav_label">Types</label>
      <%- end %>


        <%# if @product_type %>
            <!-- <strong><label>Product Type</label></strong> -->
           <!--  <li class="bold type_select"><%# link_to @product_type.title, @category_product_type_tags_path %></li> -->

        <%# end %>
      <%- if @tag %>
        <label class="nav_label selected">Tags</label>
      <%- else %>
        <label class="nav_label">Tags</label>
      <%- end %>
    </ul>

        


        <%- if @products  %>
          <!-- <ul>  
            <label><strong>Shopify Products</strong></label>
            <%# @shopify_products.each do |shopify_product| %>
              <li class="title"><%# shopify_product.title %></li>
            <%# end %>
          </ul> -->
          

          <button><%= link_to session[:shopify_collection_title] + " Navigation", categories_path(shopify_collection_id: session[:shopify_collection_id], shopify_collection_title: session[:shopify_collection_title]) %></button>
        <%- else %>
         <button class="navProductBtn"><%= link_to session[:shopify_collection_title] + " Products" , products_path(shopify_collection_id: session[:shopify_collection_id], shopify_collection_title: session[:shopify_collection_title]) %></button>



         <%- end %>
         <button><%= link_to "Home", root_path %></button>
         <li><%= link_to "Get Started", index_path %></li>
          <li><%= link_to "Support", index_path %></li>
       </div>

<%- else %>
  

<%- end %>



