<%= render 'shared/breadcrumb' %>

<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Handle</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.title, category_product_type_tag_path(@category, @product_type, tag) %></td>
        <td><%= tag.handle %></td>
        <td><%= link_to 'Edit', edit_category_product_type_tag_path(@category, @product_type, tag) %></td>
        <td><%= link_to 'Destroy', category_product_type_tag_path(@category, @product_type, tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @tags.each do |tag| %>
    <option class="product_tag_select"><%= tag.title %></option>
<% end %>

<div id="newTag"></div>


