<%= render 'shared/breadcrumb' %>
<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Handle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr class="catTable">
        <td><%= link_to category.title, category_product_types_path(category) %></td>
        <td><%= category.handle %></td>
        <td><%= link_to 'Product Types', category_product_types_path(category) %></td>       
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


  </tbody>
</table>
<div id="newCategory"></div>



