<%# form_for @product, method: :GET, action: :update do |f| %>

	<%- category = category || product.category %>
	<%- product_type = product_type || product.product_type %>
	<%- shopify_product = shopify_product  %>
	<%- tags = product.tags %>
	<div class="table">
		<form class='ajax-form tr' id="form-element-<%= product ? product.id : "nil" %>" data-product-id='<%= product.id %>'>
			<div>
				<%- if @categories.any? %>
					<div>
						<span class="td"><select class="sel selectable category chosen-select" name="product[category_id]">
							<%- @categories.each do |cat| %>
								<%- if category && cat.id == category.id %>
									<option value="<%= cat.id %>" selected="selected"><%= cat.title %></option>
								<%- else %>
									<option value="<%= cat.id %>"><%= cat.title %></option>
								<%- end %>
							<%- end %>
						</select></span>
					</div>
				<%- else %>

				<%- end %>

				<p><%# product_type.tags.ids.inspect if product_type %></p>
				<%- if category %>
					<div>
						<span class="td"><select class="sel selectable product_type chosen-select" name="product[product_type_id]">
							<%- category.product_types.each do |type| %>
								
								<%- if product_type && type.id == product_type.id %>
									<option value="<%= type.id %>" selected="selected"><%= type.title %></option>
								<%- else %>
									<option value="<%= type.id %>"><%= type.title %></option>
								<%- end %>

							<%- end %>
						</select></span>
					</div>
				<%- else %>
					<div>
						<select class="sel product_type chosen-select">
							


						</select>
					</div>

				<%- end %>
			
				<%- if product_type %>
					<!-- <div id="ProductType <%# product_type.id %>"> -->
					<div>
						<p><%# product_type.tags.inspect %></p>
						<span class="td"><select class="sel tag chosen-select" name="product[tags][]" multiple>
							<%- product_type.tags.each do |tag| %>
								<p><%# tag.inspect %></p>
								<%- if !tags.blank? && tags.ids.include?(tag.id) %>
									<option value="<%= tag.id %>" selected="selected"><%= tag.title %></option>
								<%- else %>
									<option value="<%= tag.id %>"><%= tag.title %></option>
								<%- end %>
							<%- end %>
						</select></span>
					</div>
					<!-- </div> -->
				<% else %> 
			
					<div>
						<select multiple class="sel tag chosen-select" >
							
						</select>
					</div>

				<%- end %>

				<%- if @categories.any? %>
					<span class="td"><div><%= submit_tag ("Save") %></div></span>
				<%- end %>
				<%# @product_types.each do |type| %>
					<p><%# type.category_id %></p>
				<%# end %>
			</div>
		</form>
	</div>

	


<%# end %>
<%# if !tags.blank? && product_type.tags.ids.include?(tag.id) %>

	<%# form_for @product do |f| %>
		<%# f.select :category, 
			Category.all.map { |u| [u.title, u.id] },
               { include_blank: divue },
               { class: 'chosen-select' } %>

	<%# end %>