<%# simple_form_for @product, :remote => true do |f| %>
	
	<%- category = category || product.category %>
	<%- product_type = product_type || product.product_type %>
	<%- shopify_product = shopify_product  %>
	<%- tags = tags || product.tags %>


	<tr id="form-element-<%= product ? product.id : "nil" %>" class='selectable' data-product-id='<%= product.id %>' >
		<%# shopify_product.title %>
	<%= simple_form_for @product, :remote => true do |f| %>
		<%- category = category || product.category %>
		<%- product_type = product_type || product.product_type %>
		<%- shopify_product = shopify_product  %>
		<%- tags = tags || product.tags %>
		<p class="product-id"><%# product.id %></p>

		 <td class="category_select">
		 	<%- if @categories.any?  %>
				<%= f.association :category, 
					collection: @categories.map { |g| [g.title, g.id]}, 
		       		include_blank: true,
		       		input_html: { class: 'chosen-select sel category', selected: "selected" } 
		    	%>
		    <%- end %>
		</td>

		<%- if category %>
			<td class="product_type_select"><%= f.association :product_type, 
		    	collection: category.product_types.map { |g| [g.title, g.id]}, 
		       include_blank: true,
		       input_html: { class: 'chosen-select sel product_type', selected: "selected" } 
			%></td>
		<%- else %>

			<td><select class="sel product_type chosen-select"></select></td>

		<%- end %>


		<%- if product_type %>

			 <td class="tag_select">
			 	<%= f.association :tags,
			 		   collection: product_type.tags.map { |g| [g.title, g.id]}, 
				       include_blank: true,
				       input_html: { class: 'chosen-select sel tag', multiple: true} 
				%>
			</td>
		<%- else %>
			<td><select multiple class="sel tag chosen-select"></select></td>
		<%- end %>


		<td><%= f.button :submit %></td>


	<%- end %>




	</tr>

