<!DOCTYPE html>
<html>
  <head>
    <title>FilterFly2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
   <!--  <div id="top_panel"></div> -->
  	<div id="left_panel">
  		<%= render "shared/navbar" %>
  	</div>
  	
    <%= yield %>
  </body>
</html>
